@font-face {
  font-family: "SB Sans Display";
  src: url("./sb-sans-display.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SB Sans Display";
  src: url("./sb-sans-display-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SB Sans Text";
  src: url("./sb-sans-text-medium.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SB Sans Display Semibold";
  src: url("./sb-sans-display-semibold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
